@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.body{
    background-color: #f5deb3;
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
    max-width: 400px;
    min-width: 800px;
    margin: auto;
    background-color: #ffefd5;
    padding: 10px;
}
#cash-taken{
    display: flex;
    color: black;
    padding: 0.5rem; 
    font-weight: bolder;
    font-size: large;
}
#label{
    display: flex;
    padding: 0.5rem;
    font-weight: bolder;
    font-size: large;
}
#cash-give{
    display: flex;
    width: 70%;
    line-height: 2rem;
}
#bill-amount{
    width: 70%;
    line-height: 2rem;
  
}
#checkButton{
    margin-left: 4px;
    margin-top:25px;
    width: 20%;
    padding: 0.5rem;
    text-align: center;
    background-color:#60A5FA;
}
.space{
    height: 30px;
}
th,td,table{
    border: 0.5px solid black;
    padding: 0.4rem;
}
#capt{
    font-weight: bolder;
    font-size: large;
    text-align: left;
    margin-left: 8px;
    padding: 0.4rem;
}
#image{
    position:fixed;
    top: 33px;
    left:565px;
    max-width: 50px;
}
#register{
    color:burlywood;
    margin-left: 50px;
}
#message{
    font-size: larger;
    font-weight: bold;
}